<mat-form-field class="station-field" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    type="text"
    matInput
    [formControl]="control"
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    (click)="onInputClick()"
    (focus)="onInputClick()"
    #autoCompleteInput
  />
  @if (showSwapButton) {
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="onSwapClick()"
    class="swap-button"
    title="Swap stations"
  >
    <mat-icon>swap_horiz</mat-icon>
  </button>
  }
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayStation"
    autoActiveFirstOption="true"
  >
    @for (station of filteredStations | async; track station.code) {
    <mat-option [value]="station">
      <span class="station-name">{{ station.name }}</span>
      <span class="station-code">({{ station.code }})</span>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
