<div class="page-header" [class.gradient-bg]="backgroundGradient">
  <div class="container">
    <div class="header-content">
      <h1>
        @if (icon) {
        <mat-icon class="header-icon">{{ icon }}</mat-icon>
        }
        {{ title }}
      </h1>
      @if (showNewSearchButton) {
      <button
        mat-button
        color="primary"
        (click)="onNewSearchClick()"
        class="new-search-btn"
      >
        {{ newSearchButtonText }}
      </button>
      }
    </div>

    <!-- Additional content like search summary -->
    @if (additionalContent) {
    <div class="additional-content">
      <ng-container [ngTemplateOutlet]="additionalContent"></ng-container>
    </div>
    }
  </div>
</div>
