<div class="class-quota-container">
  <mat-form-field class="class-field" appearance="outline">
    <mat-label>{{ classLabel }}</mat-label>
    <mat-select [formControl]="classControl">
      @if (!isClassRequired) {
      <mat-option value="">All Classes</mat-option>
      } @for (travelClass of travelClasses; track travelClass.code) {
      <mat-option [value]="travelClass.code">
        {{ travelClass.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="quota-field" appearance="outline">
    <mat-label>{{ quotaLabel }}</mat-label>
    <mat-select [formControl]="quotaControl">
      @for (quota of quotas; track quota.code) {
      <mat-option [value]="quota.code">
        {{ quota.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
