@switch (variant) { @case ('basic') {
<!-- Basic Button -->
<button
  mat-button
  [color]="color"
  [disabled]="disabled || loading"
  [class]="class"
  [class.full-width]="fullWidth"
  [class.loading]="loading"
  (click)="onClick()"
>
  @if (icon && !loading) {
  <mat-icon>{{ icon }}</mat-icon>
  } @if (loading) {
  <mat-icon class="loading-spinner">refresh</mat-icon>
  } @if (text) {
  <span>{{ text }}</span>
  }
</button>
} @case ('raised') {
<!-- Raised Button -->
<button
  mat-raised-button
  [color]="color"
  [disabled]="disabled || loading"
  [class]="class"
  [class.full-width]="fullWidth"
  [class.loading]="loading"
  (click)="onClick()"
>
  @if (icon && !loading) {
  <mat-icon>{{ icon }}</mat-icon>
  } @if (loading) {
  <mat-icon class="loading-spinner">refresh</mat-icon>
  } @if (text) {
  <span>{{ text }}</span>
  }
</button>
} @case ('stroked') {
<!-- Stroked Button -->
<button
  mat-stroked-button
  [color]="color"
  [disabled]="disabled || loading"
  [class]="class"
  [class.full-width]="fullWidth"
  [class.loading]="loading"
  (click)="onClick()"
>
  @if (icon && !loading) {
  <mat-icon>{{ icon }}</mat-icon>
  } @if (loading) {
  <mat-icon class="loading-spinner">refresh</mat-icon>
  } @if (text) {
  <span>{{ text }}</span>
  }
</button>
} @case ('flat') {
<!-- Flat Button -->
<button
  mat-flat-button
  [color]="color"
  [disabled]="disabled || loading"
  [class]="class"
  [class.full-width]="fullWidth"
  [class.loading]="loading"
  (click)="onClick()"
>
  @if (icon && !loading) {
  <mat-icon>{{ icon }}</mat-icon>
  } @if (loading) {
  <mat-icon class="loading-spinner">refresh</mat-icon>
  } @if (text) {
  <span>{{ text }}</span>
  }
</button>
} @case ('icon') {
<!-- Icon Button -->
<button
  mat-icon-button
  [color]="color"
  [disabled]="disabled || loading"
  [class]="class"
  [class.loading]="loading"
  (click)="onClick()"
>
  @if (!loading) {
  <mat-icon>{{ icon || "more_vert" }}</mat-icon>
  } @if (loading) {
  <mat-icon class="loading-spinner">refresh</mat-icon>
  }
</button>
} }
